<!doctype html>
<html>
  <head>
    <title>Getting Started Extension's Popup</title>
    <style>
      body {
        min-width: 357px;
        overflow-x: hidden;
      }
    </style>
    <script type="text/javascript" src="js/vendor/jquery-2.1.1.min.js"></script>
  </head>
  <body>
    <h1>Salesforce</h1>
    <a href="#" id="test">Test</a>
    <!-- handlebars application container -->
    <div id="application"></div>

    <!-- Handlebar TEMPLATES -->
    <script type="text/x-handlebars" id="application">
      <h1>{{title}}</h1>
    </script>

    <script type="text/javascript" src="js/sf-sdk.js"></script>
    <script type="text/javascript" src="js/vendor/handlebars-v2.0.0.js"></script>
    <script type="text/javascript" src="js/ui.js"></script>
    <script type="text/javascript" src="js/popup.js"></script>
  </body>
</html>

